apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-cicd-pvc
  namespace: hk-jenkins
spec:
  storageClassName: hostpath
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
