apiVersion: v1
kind: Service
metadata:
  name: jenkins-cicd-service
  namespace: hk-jenkins
spec:
  type: LoadBalancer
  selector:
    app: jenkins-cicd
  ports:
    - name: http
      port: 8080
      targetPort: 8080
    - name: agent
      port: 50000
      targetPort: 50000
